.darkness {
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup {
	z-index: 1001;
	width: 30vw;
	border-radius: 15px;
	padding: 1rem;
	background-color: white;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.buttonsWrapper {
	padding: 0.5rem;
	width: 100%;
	display: flex;
	justify-content: right;
	gap: .3rem;
}

@media (max-width: 450px) {
	.popup {
		width: 70%;
	}
}